{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block content %}
{% include 'blog/alerts.html' %}


<h3>{{ post.title }}</h3>
<small>Post created by: {{ post.author }}</small>
<hr>
<p>{{ post.body }}</p>
<div class="row gallery">
  {% for p in post.images_set.all %}
    <div class="col-md-3">
      <img src="{{ p.image.url }}" alt="Image Not Found" class="img-thumbnail">
    </div>
  {% endfor %}
</div>

<div class="like-section" >
  {% include 'blog/like_section.html' %}
</div>

<div class="favourite-section" >
  {% if is_favourite %}
    <a href="{% url 'favourite_post' id=post.id %}">
        <i class="fas fa-heart fa-lg"></i>
    </a>
  {% else %}
    <a href="{% url 'favourite_post' id=post.id %}">
        <i class="far fa-heart fa-lg"></i>
    </a>
  {% endif %}
</div>

<!-- {{ total_likes }} Like{{ total_likes | pluralize }}
{% if request.user.is_authenticated %}
<form  action="{% url 'like_post' %}" method="post">
  {% csrf_token %}
  {% if is_liked %}
    <button id="like" type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Dislike</button>
  {% else %}
    <button id="like" type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
  {% endif %}
</form>
{% endif %} -->

{% if request.user == post.author %}
<div class="section-1" style="float:right;">
  <a href="{% url 'post_edit' post.id %}">
    <button type="button" class="btn btn-outline-success">Edit</button>
  </a>
  <a href="{% url 'post_delete' post.id %}" id="delete">
    <button type="button" class="btn btn-danger">Delete</button>
  </a>
</div>
{% endif %}

<br><br>
<hr>
{% if post.restrict_comment %}
  <h6 style="color:red;">{{ post.author|capfirst }} Has Restricted The Comments .</h6>
{% else %}
  <div class="main-comment-section container-fluid">
    {% include 'blog/comments.html' %}
  </div>
{% endif %}

{% endblock %}
